body {
  color: white;
  background: black;

}
p {

  word-wrap: break-word;

}

img {

  float: right;

}

.natty {

  float: ;

}

.black {

  color: black;

}

.box {

  margin: 60px;
  border: 10px solid red;
  padding: 10px;
  background-color: grey;

}
